@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

$green: #40FF6C;
$turquoise: #40FF6C;
$purple: #8148F5;
$yellow:#FFBB00;
$grey : #D1D1D1;
$bg-color: #F5F5F5;

$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $purple;

$body-background-color: $bg-color;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;



@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



.has-text-green{
  color: $green;
}

.has-text-dark-green{
  color: #2CC24F;
}

.has-text-purple{
  color: $purple;
}

.has-text-dark-purple{
  color: #4E299A;
}

.has-text-grey{
  color: $grey !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


button:focus{
  outline: none;
  border :none;
}